[submodule "lvgl"]
	path = Mile.Uefi.Playground/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "Mile.Uefi.Playground/lv_demos"]
	path = Mile.Uefi.Playground/lv_demos
	url = https://github.com/lvgl/lv_demos
